# Lesson 9 - Doesn't correlate with the book.

At this point, we've covered the basics and 90% of what you'll see in your average python package.  This means we're prepared to read and understand python code and use python to solve non-domain specific problems.  In essence, we know the words we just need more practice putting them together to form sentences.


## Topics covered:
- sets [reference](http://www.diveintopython3.net/native-datatypes.html#sets)
- List/Dictionary/Set comprehensions [reference](http://www.diveintopython3.net/comprehensions.html#listcomprehension)
- Some practice problems

### Some Notes:
- Thank you for course feedback.  I just received the results and will be incorporating the feedback into the rest of the course
- Not including today, we have 3 more weeks of class.  That's 6 classes. (No class Thanksgiving week)

Original plan is:
 1. Practice Problems for a week just to strengthen our python-fu
 2. Last 2 weeks dedicated to Applications of python in the real world. For some ideas, see [this list](https://github.com/hassanshamim/python_foundations#curriculum-outline-subject-to-change)
 
Our options:
- Skip practice problems and go straight to 'real world python'
- Put more emphasis on Software Development skills (Testing, OOP, git, etc) or more emphasis on 'hobby python' (Web scraping, visualizing data, organizing files)
- Work on these Ã  la carte topics as a class, or in small groups/individually.
- any ideas I missed.

# Sets

- `set()` function
- literal is curly braces {}
- are **mutable**
- are **unordered**,
- **unique** collection of *immutable* objects
- useful for getting *unique* values, or doing [set theory](https://en.wikipedia.org/wiki/Set_theory) operations

In [1]:
import collections

In [ ]:
collections.

In [5]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Creating a set

In [4]:
s1 = set()
type(s1)

set

In [6]:
s2 = {}
type(s2)  ## Shocking!

dict

Explicit is better than implicit.  You must create *empty* sets with set().  If you use curly braces with values inside already, python can tell the difference between the following:

In [8]:
a_set = {1, 2, 3}
a_set
type(a_set)

set

In [ ]:
a_dict = {1: 2, 3: 4}
a_dict

In [10]:
set({'a':'b'})

{'a'}

In [12]:
d = {'a':'b', 'b':'c'}
d

{'a': 'b', 'b': 'c'}

In [20]:
for thing in d:
    print(thing)

b
a

### Converting a collection to a set

just call `set` function on that object

In [21]:
a = [1, 1, 1, 2, 2]
a

[1, 1, 1, 2, 2]

In [22]:
a_set = set(a)
a_set

{1, 2}

In [23]:
b = 'ABBA'
c = (1, 2, 3, 1, 2)
d = {'a': 1, 'b': 2, 'c': 1, 'd': 2}

create sets with the above data types.  Before you create them, try and predict what the set will look like.

In [31]:
set(b)

{'A', 'B'}

In [33]:
set(c)

{1, 2, 3}

In [37]:
d.values()

dict_values([1, 2, 2, 1])

In [36]:
set(d.values())

{1, 2}

sets have a length:

In [42]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### Adding to a set

In [45]:
foods = {'apples', 'bananas', 'oranges', 'grapes'}
print(len(foods), 'food items')
foods

4 food items

{'apples', 'bananas', 'grapes', 'oranges'}

In [46]:
foods.add('pickles') # Notice nothing is returned.  This is common when you are mutating an object.
print(len(foods), 'food items')
foods

5 food items

{'apples', 'bananas', 'grapes', 'oranges', 'pickles'}

In [54]:
foods.add('apples') # how many now?
len(foods)

6

In [53]:
foods.add(3) # as long as the object we are adding is immutable, python is happy.
foods

{3, 'apples', 'pickles', 'oranges', 'grapes', 'bananas'}

In [59]:
try:
    foods.add((1, 2))
except TypeError:
    print('no bueno')

In [60]:
foods

{(1, 2), 3, 'apples', 'pickles', 'oranges', 'grapes', 'bananas'}

In [57]:
foods.add(set())

TypeError: unhashable type: 'set'

But no ordering, so they can't be sliced

In [61]:
set([1, 2, 3])[3]

TypeError: 'set' object does not support indexing

### Removing items from a set

In [65]:
a = {1, 2, 3, 4}

#### removing all values:

In [68]:
i = id(a)

In [69]:
a.clear() # no return value

In [70]:
i == id(a)

True

#### Removing a specific value:

In [71]:
a = {1, 2, 3, 4}

In [72]:
a.remove(3) # no return value

In [73]:
a

{1, 2, 4}

In [74]:
a.remove(3)

KeyError: 3

In [75]:
a = {1, 2, 3, 4}

In [76]:
a.discard(3)
a

{1, 2, 4}

In [78]:
a.discard(3)
a

{1, 2, 4}

#### Removing a random value

In [90]:
a = {1, 2, 3, 4}

In [95]:
a.pop()

KeyError: 'pop from an empty set'

In [99]:
bool([[],])

True

In [ ]:
if something:
    result = something.pop()

### We can iterate over it like any collection

In [107]:
for thing in {'rice', 'salad', 1, 3.13, True, None, len}:
    print(thing)

True
3.13
rice
None
<built-in function len>
salad

###  Sets are most often useful when checking membership (at least in my experience)

In [108]:
3 in {1, 2, 3}

True

In [112]:
4 not in {1, 2, 3}

True

In [113]:
students_in_class = {'steph', 'ryan', 'jill', 'sam', 'bernie'}

In [128]:
friends = { 'bernie', 'ryan', 'bob'}

In [124]:
friends.issubset(students_in_class) # is every one of my friends in this class?

True

In [129]:
result = True
for friend in friends:
    if friend not in students_in_class:
        result = False

In [130]:
result

False

In [116]:
students_in_class.issubset(friends)

False

In [117]:
students_in_class.issuperset(friends) # same as above

False

In [119]:
students_in_class.isdisjoint(friends) # Are none of the students in class my friends?

False

In [118]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

In [131]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# Comprehensions

Comprehensions don't give us any new functionality, they just allow our code to be shorter/more readable.

You will see them a lot in the wild.

**Format**: `_ for _ in _ if _`

They combine a for loop, a conditional, and an optional tranformation

`<transformation> for <thing> in <collection> if <condition>`

They do *all* this and return a new object, either: list, set, dict, or generator(not discussed)

You can thing of them as transforming a collection (list, dict, etc)

## List Comprehension

The following examples just use numbers.  Any data type can be processed depending on the task involved.

I try and keep the comprehensions simple so as to focus on syntax and composeability. What you actually do in the comprehensions will vary depending on your goal.

If you have specific use-cases in mind please ask for an example, or try implementing it yourself.

#### Just the transformation

In [133]:
x = list(range(10))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
[ i*2 for i in x ]

In [137]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
[i**2 for i in x]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [143]:
x # x in unchanged!

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
[float(i) for i in x] # calling functions or expressions are equally fine

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [147]:
import math

In [148]:
[math.sqrt(thing) for thing in x]

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [149]:
result = []
for i in x:
    transformed = math.sqrt(i)
    result.append(transformed)

In [152]:
[i+1 for i in x]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
str(x*2) for oaernstaors

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

# convert x to a list of strings
['0', '1', '2', '3', ...]
[str(i) for i in x]

['0s', '1s', '2s', '3s', '4s' ...]
[str(i) + 's' for i in x]

In [ ]:
reslt = []
for i in x:
    reslt.append(str(i) + 's')

In [154]:
i = 5

In [155]:
str(i) + 's'

'5s'

#### Adding the condition

In [159]:
[i for i in x if i < 5]

[0, 1, 2, 3, 4]

In [ ]:
result = []
for i in x:
    if i < 5:
        result.append(i)

In [157]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
def even(i):
    return i % 2 == 0

In [163]:
even(2)

True

In [175]:
# Return just the strings with at least 2 vowels

In [165]:
['hello', 'there', 'is', 'it', 'me', 'you\'re', 'looking', 'for']

['hello', 'there', 'is', 'it', 'me', "you're", 'looking', 'for']

In [ ]:
[]

In [168]:
'hello there is it me you\'re looking for'.split('e')

['h', 'llo th', 'r', ' is it m', " you'r", ' looking for']

In [170]:
result ='23424,2342,Hassan,21,'.split(',')

In [171]:
result

['23424', '2342', 'Hassan', '21', '']

In [173]:
','.join(result)

'23424,2342,Hassan,21,'

In [174]:
''.join([1, 2, 3, 4])

TypeError: sequence item 0: expected str instance, int found

In [166]:
help(str.split)

Help on method_descriptor:

split(...)
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [164]:
[i*2 for i in x if even(i)]

[0, 4, 8, 12, 16]

In [181]:
['Even' for i in x if even(i)]

['Even', 'Even', 'Even', 'Even', 'Even']

In [182]:
[ 'Even' if even(i) else 'Odd' for i in x ]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [186]:
for j in range(3):
    for i in range(10):
        i*j

SyntaxError: invalid syntax (<ipython-input-186-696be300acf8>, line 2)

In [ ]:
for i in x:
    if even(i):
        result.append('Even')
    else:
        result.append('Odd')

In [ ]:
[even_or_odd(i) for i in x]

In [177]:
['Even' for i in x if even(i) else 'Odd']

SyntaxError: invalid syntax (<ipython-input-177-06f21190a527>, line 1)

In [178]:
i = 3

In [179]:
if i < 3:
    print('hi')
else:
    print('goodbye')

goodbye

In [180]:
print('hi') if i<3 else print('hi')

hi

In [ ]:
print('hi') ? condition : do_if_false
do_if_true if condition else do_if_false

####  Can also use else by using ternary operator
**Notice the position**

In [187]:
['Even' for i in x if even(i)]

['Even', 'Even', 'Even', 'Even', 'Even']

In [191]:
['Even' if even(i) else 'Odd' for i in x]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [190]:
len(x)

10

In [195]:
[even(i) for i in x if i > 2]

[False, True, False, True, False, True, False]

In [193]:
# Here's our collatz:
[i//2 if even(i) else i*3+1 for i in x]

[0, 4, 1, 10, 2, 16, 3, 22, 4, 28]

#### Comprehension can be used inside of dictionaries and sets as well.

####  Dictionaries

In [211]:
friends.add('tim')

In [212]:
friends

{'bernie', 'bob', 'ryan', 'tim'}

In [204]:
{ name: len(name) for name in friends }

{'bernie': 6, 'bob': 3, 'ryan': 4}

In [207]:
{name: name[0] for name in friends if not name == 'bernie'}

{'bob': 'b', 'ryan': 'r'}

In [213]:
{len(name): name for name in friends} # Notice how some keys will be overwritten?  Why is this?

{3: 'tim', 4: 'ryan', 6: 'bernie'}

In [ ]:
[ trans , looop, conditional]

In [208]:
# Reversing a dictionary
d = {'a': 1, 'b': 2, 'c': 3}

In [209]:
{val:key for key, val in d.items()}

{1: 'a', 2: 'b', 3: 'c'}

####  Sets
Looks the same as dictionary comprehensions, but no key-> val mapping (`:`)

In [220]:
song = 'It is the song that never ends it goes on and on my friends.'

In [218]:
type({1:2})

dict

In [219]:
type({1, 2})

set

In [221]:
{word for word in song}

{' ',
 '.',
 'I',
 'a',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'm',
 'n',
 'o',
 'r',
 's',
 't',
 'v',
 'y'}

Strings by default iterate character by character.  We can get the words out by calling .split() on the collection in our comprehension.

In [222]:
{word for word in song.split()}  # But now we have duplicate 'it'.  We wanted the unique words right?

{'It',
 'and',
 'ends',
 'friends.',
 'goes',
 'is',
 'it',
 'my',
 'never',
 'on',
 'song',
 'that',
 'the'}

In [223]:
{word.lower() for word in song.split()}

{'and',
 'ends',
 'friends.',
 'goes',
 'is',
 'it',
 'my',
 'never',
 'on',
 'song',
 'that',
 'the'}

In [224]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
map

In [ ]:
filter select

# Practice Problems

Feel free to jump around.

####  Strings

Read two strings from the user and print their concatenation, without the first character of each. The strings will be at least length  1

E.g.: 'Hello', 'There' â 'ellohere'

Write a function that decides on a string (which is typed by the user) whether it is a palindrome

Write a function taht prints "True" if the strings "cat" and "dog" appear the same number of times in the given string.

```
catdog('catcat')
False
catdog('1cat1cadodog')
True
```

Transform a non-empty string (read from the user) like "Code" to another such as "CCoCodCode", "Program" to "PPrProProgProgrPrograProgram"

Given 2 strings, a and b. Count the number of the positions where they contain the same two character long substring.

E.g. "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa", and "az" substrings appear in the same place in both strings.

#### Harder Challenge:

Implement a script that converts numbers to roman numerals.
After printing the value, ask the user for the next task, till she types "quit".
Check the input before the evaluation!

####  Data Types

"One liners" -- use comprehension!

- Create a list of numbers in which the elements are less than 1000 and are not divisible by neither 2 or 5.
- Create a list with the even powers of 2 that are less than 100.
- Create a list containing a the coordinates of a three dimensional (3x3x3) matrix. ((1,1,1), (1,1,2) ... (3,3,3))
- Transform a string by omitting the lowercase characters.
- Split a multiline string into list of lists representing words in lines. (E.g. [["First", "line"], ["Second", "line"]])

Write a function that takes a word from the user and prints a dictionary that counts the number of times each letter appears.

A sparse vector is a vector whose entries are almost all zero, like [1, 0, 0, 0, 0, 0, 0, 2, 0]. Storing all those zeros wastes memory and dictionaries are commonly used to keep track of just the nonzero entries. For example, the vector shown earlier can be represented as {0:1, 7:2}, since the vector it is meant to represent has the value 1 at index 0 and the value 2 at index 7. Write a function / script that converts a dictionary to its sparse vector representation and vica versa.

Write a function removeCommonElements(t1, t2) that takes in 2 tuples as arguments and returns a sorted tuple containing elements that are only found in one of them.

#### Functions

Create a function: given a non-negative number num, return True if num is within 2 of a multiple of 10.

We want to make a row of bricks that is goal inches long. We have a number of small bricks (1 inch each) and big bricks (5 inches each). Return True if it is possible to make the goal by choosing from the given bricks. This is a little harder than it looks and can be done without any loops.
```python
>>> make_bricks(3, 1, 8)
True
>>> make_bricks(3, 1, 9)
False
>>> make_bricks(3, 2, 10)
True
```

Return the "centered" average of an array of integers, which we'll say is the mean average of the values, except ignoring the largest and smallest values in the array. If there are multiple copies of the smallest value, ignore just one copy, and likewise for the largest value. Use int division to produce the final average. You may assume that the array's length 3 or more.

```python 
>>> centered_average([1, 2, 3, 4, 100])
3
>>> centered_average([1, 1, 5, 5, 10, 8, 7])
5
```

Given an list of integers, return True if the array contains a 2 next to a 2 somewhere. 2 should be a (default) parameter.

```python
>>> has_x([1, 2, 2])
True
>>> has_x([1, 2, 1, 2])
False
>>> has_x([1, 3, 3, 2], 3)
True
```

Write a function shiftByTwo(*args) that accepts a variable number of arguments and returns a tuple with the argument list shifted to the right by two indices. See the example below.

``` python
>>> shiftByTwo(1,2,3,4,5,6)
(5, 6, 1, 2, 3, 4)
```

Write a function sortByIndex(aList) that takes in a list of tuples in the following format: (index, value) and returns a new tuple with its elements sorted based by their index.

```python
>>> sortByIndex([(2,'Programming'), (3, 'is'), (1, 'Python'), (4, 'Fun')])
('Python', 'Programming', 'is', 'Fun')
```

Write a function numbersInbetween(start, end) that takes in two numbers and returns a comma-separated string with all the numbers in between the start and end number inclusive of both numbers.
```python
>>> numbersInbetween(5, 10)
'5,6,7,8,9,10'
>>> numbersInbetween(5, 0)
'Invalid'
```